@font-face {
  font-family: Noah;
  src:
    url('/static/fonts/Noah-Regular.woff2') format('woff2'),
    url('/static/fonts/Noah-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Noah;
  src:
    url('/static/fonts/Noah-Bold.woff2') format('woff2'),
    url('/static/fonts/Noah-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

:root {
  font-size: 10px;
}

html {
  box-sizing: border-box;
  font-family: Noah, system-ui;
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
  outline: 0;
}

body {
  margin: 0;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  position: relative;
  display: block;
  min-height: 100%;
  color: #222;
}

a {
  color: #6d47d9;
  text-decoration: none;
  background-color: transparent;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
}

p {
  font-weight: 400;
  line-height: 1.4;
}

button,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  width: 100%;
  height: 2px;
  background: #6d47d9;
}

#nprogress .peg {
  position: absolute;
  right: 0;
  display: block;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #6d47d9, 0 0 5px #6d47d9;
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

.nprogress-custom-parent {
  position: relative;
  overflow: hidden;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
