.header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  background-color: #fcfcfc;

  .bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    padding: 0 24px;
    margin: 0 auto;
  }
}
