@global-import 'react-image-crop/dist/ReactCrop.css';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    width: 400px;
    min-height: 400px;
  }
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;

  img {
    width: 80px;
    height: 80px;
  }
}

.crop {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    width: 100%;
    margin-top: 24px;

    > button {
      flex: 1;
    }
  }
}

.other-photo-button {
  color: #222;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}
